<div class="container">
  <div class="col-sm-6">
    <img src="images/graph.png" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Reach out to us!</h1>
    <p>Enter your email if you're interested to learn more:</p>
    <form action="/subscribers/create" method="post">
      <p>
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" placeholder="Name">
      </p>
      <p>
        <label for="email">Email</label>
        <br>
        <input type="email" name="email" placeholder="Email">
      </p>
      <p>
        <label for="zipCode">Zip Code</label>
        <br>
        <input type="text" name="zipCode" placeholder="Zip Code" pattern="[0-9]{5}">
      </p>
      <p>
        <input class="button" type="submit" value="submit">
      </p>
    </form>
    <p>We'll get back to you soon!</p>
  </div>
</div>
